.box {
  background: #101833;
  border-radius: 20px;
  padding: 20px;
  margin: 10px 5px;
}

.wunderpassLink:hover {
  filter: invert(21%) sepia(80%) saturate(310%) hue-rotate(132deg)
    brightness(108%) contrast(86%);
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: #1a98fb;
}

.footer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #101833;
  padding: 20px;
}
